<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42850905189-mlckuiccivh862u3qh7lf2fdq5l1e5e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42850905189-mlckuiccivh862u3qh7lf2fdq5l1e5e5</string>
	<key>API_KEY</key>
	<string>AIzaSyBGMWmxKbLy4T2HpvZnOcVY2fjahyvTkpA</string>
	<key>GCM_SENDER_ID</key>
	<string>42850905189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danieldyachok.Fitness-App-Swift</string>
	<key>PROJECT_ID</key>
	<string>fitnessappswift</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessappswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42850905189:ios:f49d03e0404cef50322a8c</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessappswift.firebaseio.com</string>
</dict>
</plist>